.lista-equipos-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .lista-equipos-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .mb-3 {
    margin-bottom: 16px !important;
  }
  
  .table th,
  .table td {
    vertical-align: middle;
    text-align: center;
  }
  
  .modal-centered .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  