.informe-misiones-container {
    background-color: #ffffff;
    padding: 20px;
    min-height: 100vh;
}

.filters-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.table {
    margin-top: 20px;
}

.export-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.me-2 {
    margin-right: 0.5rem;
}

.modal-wide .modal-dialog {
    max-width: 100%; /* Utiliza el 95% del ancho de la pantalla */
    width: 100%; /* Asegura que el modal use el 95% del ancho disponible */
}

.modal-wide .modal-content {
    width: 100%; /* Asegura que el contenido del modal ocupe todo el ancho */
}

.modal-wide .modal-body {
    width: 100%; /* Asegura que el cuerpo del modal ocupe todo el ancho */
    padding: 20px; /* Opcional: espacio alrededor de la tabla */
}

.table-modal {
    width: 100%; /* Asegura que la tabla ocupe el ancho completo */
    table-layout: auto; /* Deja que las columnas se ajusten automáticamente */
    word-wrap: break-word; /* Evita que el texto largo cause un desbordamiento horizontal */
}