.reporte-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .search-export-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .exportar-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .exportar-btn:hover {
    background-color: #0056b3;
  }
  
  .exportar-btn svg {
    margin-right: 5px;
  }
  
  .emergencias-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
  }
  
  .emergencias-table th,
  .emergencias-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .emergencias-table th {
    cursor: pointer;
    background-color: #416cee;
    color: white;
  }
  
  .emergencias-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .alert {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffdddd;
    color: #a94442;
    border-radius: 5px;
  }
  