input[type="text"] {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #e8f4ff;
  }
  .search-input {
    margin: 10px 0;
    padding: 8px;
    width: calc(100% - 16px);
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .emergencias-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .emergencias-table, .emergencias-table th, .emergencias-table td {
    border: 1px solid #ddd;
  }
  
  .emergencias-table th, .emergencias-table td {
    text-align: left;
    padding: 8px;
  }
  
  .emergencias-table th {
    background-color: #f2f2f2;
  }
  
  .emergencias-table tr:nth-child(even) {
    background-color: #f9f9f9;
    }
    
    .emergencias-table tr:hover {
    background-color: #e8f4ff;
    }
    .tabla-container {
        max-width: 100%; /* O cualquier otro ancho que prefieras */
        margin: 20px auto; /* Esto centrará el contenedor en la página */
        padding: 0 20px; /* Agrega algo de padding a los lados si es necesario */
        box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* Opcional: Añade sombra para mejor visibilidad */
      }
      
      /* Asegúrate que la tabla use todo el ancho disponible del contenedor */
      .emergencias-table {
        width: 100%; 
        border-collapse: collapse;
      }
      .emergencia-principal {
        font-weight: bold;
        background-color: #f2f2f2;
      }
      
      .historial-detalle {
        background-color: #f9f9f9;
        font-style: italic;
      }
      .emergencia-principal {
        font-weight: bold;
        background-color: #f2f2f2;
      }
      
      .historial-detalle {
        font-style: italic;
        background-color: #f9f9f9;
      }
      
      .completado {
        background-color: darkgreen;
        color: rgb(47, 179, 86);
      }

      .card-deck .card {
        margin-right: 15px;
        margin-left: 15px;
      }
      .container {
        margin: auto;
        padding: 0 15px; /* Ajuste de padding si es necesario */
      }
      
      .row {
        margin-right: -15px;
        margin-left: -15px;
      }
      
      .row > [class^='col-'] {
        padding-right: 15px;
        padding-left: 15px;
      }
      .text-dark {
        color: #000; /* o cualquier otro color oscuro que prefieras */
      }