input[type="text"] {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
   
  
  .search-input {
    margin: 10px 0;
    padding: 8px;
    width: calc(100% - 16px);
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  
      .emergencia-principal {
        font-weight: bold;
        background-color: #f2f2f2;
      }
      
      .historial-detalle {
        background-color: #f9f9f9;
        font-style: italic;
      }
      .emergencia-principal {
        font-weight: bold;
        background-color: #f2f2f2;
      }
      
      .historial-detalle {
        font-style: italic;
        background-color: #f9f9f9;
      }
      
      .completado {
        background-color: darkgreen;
        color: rgb(47, 179, 86);
      }

      .card-deck .card {
        margin-right: 10px;
        margin-left: 15px;
      }
      .container {
        margin: auto;
        padding: 0 15px; /* Ajuste de padding si es necesario */
      }
      
      .row {
        margin-right: -15px;
        margin-left: -15px;
      }
      
      .row > [class^='col-'] {
        padding-right: 15px;
        padding-left: 15px;
      }
      .text-dark {
        color: #000; /* o cualquier otro color oscuro que prefieras */
      }